/* CSS File, tread carefully */
/* Core */


.page {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  height: 100%;
}

/* Utility */

.input{
  border: none;
  border-bottom: solid .13em darkslategrey;
  border-left: solid .13em darkslategrey;
  padding: .13em;
}



/* Content */
.brandShow{
  background: radial-gradient( #000, rgba(128, 0, 128, 0.4) 30%, rgba(128, 0, 128, 0.9), rgba(128, 0, 128, 0.4) 30%, #000);
  background-size: 400% 400%;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: brandBkgd 13s ease-in-out infinite;
  transition: background-position 1ms ease;
}
.brandShow figure img{
  width: 130%;
  height: 130%;
  position: relative;
  left: -15%;
}

@keyframes brandBkgd {
	0% {
		background-position: 0% 100%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 100%;
	}
}

/* Grouplists */
.listGroup_section{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.listHeader{
  border-bottom: solid .69em purple;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items:center;
  text-transform: capitalize;
  letter-spacing: .13em;
  font-size: 2em;
}

.todolist_ul{
  width: 100vw;
  display: flex;
  padding: 0 1em;
  flex-direction: column;
  height: fit-content;
  text-transform: capitalize;
  align-items: center;
}

.addtask_btn{
  color: white;
  border-radius: 5px;
  background-color: lime;
  width: 100%;
  text-transform: capitalize;
  font-size: 2.5em;
  font-weight: 600;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* ListCards */
.todolist_item {
  width: 100%;
  height: fit-content;
  padding: 1em;
}


/* Modals */
.modalBkgd{
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000af;
}

.modalFrame{
  background-color: #fff;
  width: fit-content;
  height: fit-content;
  padding: 1em;
  border: solid .42em gold;
  border-radius: 5px;
}
.modalbtn_x{
  display: flex;
  font-size: 1em;
  font-weight: 400;
  position: relative;
  margin-left: auto;
}

.modalForm_add{
  display: flex;
  flex-direction: column;
  gap: .69em;
  font-size: 1.3em;
  width: 13em;
  height: fit-content;
}

.modalForm_add .extras{
  display: flex;
  gap: 1.3em;
  justify-content: center;
}
.modalForm_add .extras .addtask_btn{
  width: fit-content;
  font-size: 1em;
}




/* Footer */

