/* CSS File, tread carefully */
/* Core */


.page {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  height: 85%;
}

/* Utility */

.input{
  border: none;
  border-bottom: solid .13em darkslategrey;
  border-left: solid .13em darkslategrey;
  padding: .13em;
}

.ad_container{
  height: 7%;
  background: #000;
  width: 100%;
  position: absolute;
  bottom: 0%;
}



/* Content */
.brandShow{
  background: radial-gradient( #000, rgba(128, 0, 128, 0.4) 30%, rgba(128, 0, 128, 0.9), rgba(128, 0, 128, 0.4) 30%, #000);
  background-size: 400% 400%;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: brandBkgd 13s ease-in-out infinite;
  transition: background-position 1ms ease;
}
.brandShow figure img{
  width: 130%;
  height: 130%;
  position: relative;
  left: -15%;
}

@keyframes brandBkgd {
	0% {
		background-position: 0% 100%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 100%;
	}
}

/* Grouplists */
.listGroup_section{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.listHeader{
  border-bottom: solid .69em purple;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items:center;
  text-transform: capitalize;
  letter-spacing: .13em;
  font-size: 2em;
}

.todolist_ul{
  width: 100vw;
  display: flex;
  padding: 0 1em;
  flex-direction: column;
  height: 100%;
  text-transform: capitalize;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.addtask_btn{
  color: white;
  border-radius: 5px;
  background-color: lime;
  width: 100%;
  text-transform: capitalize;
  font-size: 2.5em;
  font-weight: 600;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-top: auto;
}

/* ListCards */
.todolist_item {
  width: 100%;
  height: fit-content;
  padding: 1em;
  list-style: none;
  font-size: 1.2em;
  display: flex;
  gap: .69em;
  border-bottom: solid .13em slategray;
}
.item_info{
  display: flex;
  flex-direction: column;
}
.item_head h5{
  font-size: 1.5em;
}
.item_head p{
  padding: 0px 2% 0px 0px;
}
.item_extras{
  font-size: 1em;
  flex-direction: column;
}
.item_btns{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  justify-content: center;
  gap: .42em;
}
.item_btns button{
  background: none;
  border: none;
  font-weight: 500;
}

/* Item Card SubTask */
.item_subtasks{
  flex-direction: column;
  padding: 6% 10% 0% 10%;
}
.item_subtasks li{
  display: flex;
  width: 100%;
  justify-content: space-between;
}


/* Modals */
.modalBkgd{
  width: 100vw;
  height: 100vh;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: #000000af;
  z-index: 10;
}

.modalFrame{
  background-color: #fff;
  position: relative;
  z-index: 20;
  width: fit-content;
  height: fit-content;
  padding: 1em;
  border: solid .42em gold;
  border-radius: 5px;
}
.modalbtn_x{
  display: flex;
  font-size: 1em;
  font-weight: 400;
  position: relative;
  margin-left: auto;
}

.modalForm_add{
  display: flex;
  flex-direction: column;
  gap: .69em;
  font-size: 1.3em;
  width: 13em;
  height: fit-content;
}

.modalForm_add .extras{
  display: flex;
  gap: 1.3em;
  justify-content: center;
}
.modalForm_add .extras .addsubtask_btn{
  width: fit-content;
  font-size: 1em;
  padding: .42em;
  color: white;
  border-radius: 5px;
  background-color: lime;
  text-transform: capitalize;
  font-weight: 600;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.subtask_ul{
  flex-direction: column;
  height: 2em;
  overflow-y: scroll;
}
.subtask_ul li{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: .069em;
  border-bottom: solid .13em black;
}




/* Footer */

